In [48]:
import os
import pandas as pd

In [19]:
def list_auteur():
    list_dir = list(os.listdir())
    return list_dir

In [20]:
list_auteur = list_auteur()

In [43]:
def index_auteur_txt(list_auteur):
    dict_auteur = {}

    for auteur in list_auteur:
        if auteur.split(".")[0] == "index_auteurs_txt":
            return dict_auteur
        else:
            os.chdir(auteur+'/')
        list_txt = list(os.listdir())
        for txt in list_txt:
            dict_auteur[txt.split(".")[0]] = auteur
        os.chdir("/home/humanum/Documents/Wilhelmus_project/txt/nl/")
    
    return dict_auteur

In [44]:
dict_auteur = index_auteur_txt(list_auteur)

In [54]:
zipped = list(zip(dict_auteur.keys(), dict_auteur.values()))
df_auteurs = pd.DataFrame(zipped, columns=['Texte', 'Auteur'])

In [58]:
df_auteurs.to_csv(r'index_auteur.csv', index = False)

In [59]:
df_auteurs

        Texte          Auteur
0      188561     J.W. Lustig
1      188562     J.W. Lustig
2      188521     J.W. Lustig
3      188517     J.W. Lustig
4      188564     J.W. Lustig
...       ...             ...
14357    3259  Joannes Cloeck
14358    3273  Joannes Cloeck
14359    3263  Joannes Cloeck
14360    3241  Joannes Cloeck
14361    3248  Joannes Cloeck

[14362 rows x 2 columns]